#selector, 
.myDiv .container, 
.myDiv .navbar-inner {
    background-color: yellow !important;
} 

.myDiv .navbar-static-top {
  position: static;
  margin-bottom: 0px;
  background-color: red !important;
}
.myDiv .main-sidebar {
            background-color: red !important;
            background-image: linear-gradient(to bottom, purple, navy, rgb(0,0,0)) !important;
          }
 .navbar{
  background-color : #001f3f !important;
  height : 100%;
}
 #shiny-tab-login{
       position:absolute;
       top : 0;
       left : 0;
       height : cover;
       width : 100%;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  background-image : url("back2.gif") !important;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size : 100%;
}

.content-wrapper{
  background-color : #deb887!important;
}
/* Outline Outward */
.myDiv .btn {
  font-weight: 500 !important;
  border-radius: 45px !important;
  box-shadow: 0px 8px 15px #001f3f !important;
  transition: all 0.3s ease 0s! important;
  cursor: pointer;
  margin-top : 7% !important;
  margin-bottom : 13% !important;
  margin-left : 44.5% !important;
  font-size : 18px !important;
  padding: 1em 4em !important;
  color : black!important;
  opacity : 0.8;
  background-color : #DAA520 !important;
  box-shadow: 0 0 1px ;
  border-color : black !important;
}

.myDiv .btn:hover:before {
  content : ''!important;
  
}
.myDiv .btn:hover:after {
  opacity : 1;
  content : 'let the fun begin'!important;
  background-color : transparent!important;
  border-radius: 45px !important;
  color : #DAA520!important;
  box-shadow: 0px 8px 15px transparent !important;
  font-size : 30px !important;
  padding: 10px 60px !important;

}
.myDiv .btn:hover:after:after {
  opacity : 1;
  content : 'honey'!important;
  background-color : transparent!important;
  border-radius: 45px !important;
  color : #DAA520!important;
  box-shadow: 0px 8px 15px #001f3f !important;
  font-size : 30px !important;
  padding: 10px 0 !important;

}
.myDiv .btn:hover {
  font-size : 1px!important;
  color : #001f3f !important;
  content : 'heey'!important;
  background-color : transparent!important;
  border-color : transparent ! important;
  
}
.logo {
  background-color : #001f3f!important;
}
#sidebarCollapsed{
       text-decoration : none!important;
       position:absolute !important;
       top : 0  !important;
       left : 0  !important;
  height :800px!important;
    box-shadow: 0px 8px 15px white !important;
  background-color :black ;
}
.haha {
  width: auto;
  color:white;
  padding-top: 15vw;
  padding-bottom : 2vw;
  font-size: 6vw;
  font-weight: 300;
  margin-left : 2em;
  text-align: center;
	opacity: 1;
	transform: scale(1);
  transition: transform 0.8s ease, opacity 1.6s ease;
  transition-delay : 0s;
  user-select: none;
}
.haha:before, .haha:after {
	height: 0.4vw;
	width: 100%;
	content: "";
	background: rgba(255, 255, 255, 0.9);
	display: block;
	position: absolute;
	transition: width 0.5s ease;

}
.haha:before { top: 10px; left: 0; }
.haha:after  { bottom: 0; right: 30%;  opacity: 0;width: 40%!important;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s; content : "Enjoy the ride"; font-size : 36px;font-family : "Palatino Linotype";font-stretch : expanded;
	-webkit-transform: scale(0,1);
	transform: scale(0,1); }

.haha:hover:before {
   width : 0%!important;
   
}
.haha:hover:after {
     opacity: 1;
     background-color : #001f3f;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.haha:hover{
  
  	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  content : "heeey";
  color : #deb887;
}

.containerDiv {
  position: relative;
  width: 15%;
  background-color : white!important;
}

.imageDived {
  display: block;
  width: 100%!important;
  height: 19em !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.containerDiv:hover .overlay {
  opacity: 1;
}

.containerDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.textDived {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.top-container{
  display : flex;
  justify-content : space-between;
  padding : 0 20em;
}

.footer #button{
	width:50px;
	height:50px;
	border: #deb887 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer #button:hover{

	border: #001f3f 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #001f3f;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}


a {
  text-decoration: none;
}

.containerResaux {
  margin: 50px auto 0;
  width: 480px;
  height: 240px;
}

.social-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.sharer {
  display: flex;
  position: relative;
  width: 80px; 
  height: 80px;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  font-size: 28px;
}

.sharer, .sharer::before, .sharer::after {
  font-family: helvetica, arial, sans-serif;
}

.sharer:hover .fa{
  display: none;
}
.sharer:hover .fab{
  display: none;
}

.sharer:hover::before {
  top: -40%;
}

.sharer.success::before {
  top: -208%;
}

.sharer:hover::after {
  display: flex;
}

.sharer.success.success::after {content: "Success!";}
.fb.sharer.success::after {color: #3B5998;}
.tr.sharer.success::after {color: #00ACED;}
.pi.sharer.success::after {color: #C92228;}


.sharer::before {
  display: block;
  content: "";
  z-index: 5;
  position: absolute;
  top: 127%;
  left: -40%;
  align-items: center;
  width: 180%;
  height: 180%;
  transition: all .65s cubic-bezier(.64,0,.34,1.5); 
  transform: rotate(45deg);
}

.fb.sharer::before {background-color: #de564a;}
.tr.sharer::before {background-color: black;}
.pi.sharer::before {background-color: #ffd04a;}

.sharer::after {
  display: none;
  position: relative;
  margin: auto;
  z-index: 10;
  font-size: .45em;
  line-height: 1.3em;
  color: #fff;
  transition: all .3s cubic-bezier(.64,0,.34,1.5); 
}

.fb.sharer::after {content:"MAIL";}
.tr.sharer::after {content:"GIT";}
.pi.sharer::after {content:"Drive";}

.fa  {
  margin: auto;
}
.fab  {
  margin: auto;
}

.fa-envelope {
  color: #de564a!important;
  font-size: .88em;
}
.fa-github {
  color: black !important;
}
.fa-google-drive {
  color: #ffd04a;
  font-size: .95em;
}
